# Day 2 Assignment

Q.1) List and its default functions.

In [1]:
lst = ["Tejal",10,7186,126.43,[1,2,3]]

In [2]:
print(lst)

['Tejal', 10, 7186, 126.43, [1, 2, 3]]

In [3]:
lst[1]

10

In [4]:
lst[4]

[1, 2, 3]

In [5]:
lst[4][0]

1

In [6]:
lst[4][2]

3

In [12]:
lst.append("kiran")

In [13]:
print(lst)

['Tejal', 10, 7186, 126.43, [1, 2, 3], 'kiran', 'kiran', 'kiran', 'kiran', 'kiran']

In [14]:
lst.index(10)

1

In [16]:
lst[4]

[1, 2, 3]

In [17]:
lst[4][2]

3

Q.2) Dictionary and its default functions.

In [18]:
dit = {"name": "Tejal","age": "22", "number": 123456, "email": "tejalwaskar86@gmail.com"}

In [19]:
print(dit)

{'name': 'Tejal', 'age': '22', 'number': 123456, 'email': 'tejalwaskar86@gmail.com'}

# Methods of DICT

In [20]:
dit["name"]

'Tejal'

In [21]:
dit.items()

dict_items([('name', 'Tejal'), ('age', '22'), ('number', 123456), ('email', 'tejalwaskar86@gmail.com')])

In [22]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [23]:
dit.pop("name")

'Tejal'

In [24]:
dit

{'age': '22', 'number': 123456, 'email': 'tejalwaskar86@gmail.com'}

In [27]:
dit["school"]="KES"

In [28]:
dit

{'age': '22',
 'number': 123456,
 'email': 'tejalwaskar86@gmail.com',
 'school': 'KES'}

Q.3) Sets and its default functions.

In [29]:
st = {"Tej","letsupgrade",1,2,3,4,4,5,6,5,5}

In [30]:
st

{1, 2, 3, 4, 5, 6, 'Tej', 'letsupgrade'}

In [31]:
st1 = {"Tej",1}

In [32]:
st1.issubset(st)

True

Q.4) Tuple and explore default methods.

In [34]:
tup = ("Tej","&","Letspgrade.in")

In [35]:
tup

('Tej', '&', 'Letspgrade.in')

In [36]:
tup.count("&")

1

In [40]:
tup.index("Letspgrade.in")

2

Q.5) String and explore default methods.

In [43]:
a="hello"

In [45]:
print(a)

hello

In [46]:
a[1]

'e'

In [47]:
a[3]

'l'

# String Methods:

Count

In [48]:
str1 = "what we thinl we become"

In [49]:
str1

'what we thinl we become'

In [50]:
str1.count("we")

2

In [51]:
str1.count("we",0,15)

1

Find

In [52]:
str1

'what we thinl we become'

In [53]:
str1.find("we")

5

In [54]:
str1.rfind("we")

14

String case methods:

lowercase()

In [56]:
str2 = "TEJAL"
str2.lower()

'tejal'

uppercase()

In [57]:
a="hello"
a.upper()

'HELLO'

Index

In [59]:
a

'hello'

In [60]:
a=a.upper()

In [61]:
a

'HELLO'

In [62]:
a.index("H")

0

In [63]:
val = input("Enter the string")
if val in a :
    print(a.index(val))

Enter the stringH
0

Capitalize

In [64]:
str1

'what we thinl we become'

In [65]:
str1.capitalize()

'What we thinl we become'

title

In [66]:
str1.title()

'What We Thinl We Become'

swapcase()

In [67]:
str3 = "HELLO"
str3.swapcase()

'hello'

Strip

In [68]:
str3 = "##$intel#$"

In [69]:
str3

'##$intel#$'

In [70]:
str3.strip("#$")

'intel'

In [71]:
str3.rstrip("#$")

'##$intel'

In [72]:
str3.lstrip("#$")

'intel#$'

split

In [73]:
date1 = "16-22-2020"
date1[6:]

'2020'

In [74]:
date1.split("-")

['16', '22', '2020']

In [76]:
date1.split("-")[-1]

'2020'

In [77]:
ip = "192.168.10.1"

In [78]:
ip.split(".")

['192', '168', '10', '1']

In [80]:
ip.split(".",1)

['192', '168.10.1']